# top-most EditorConfig file
root = true

# Unix-style newlines with a newline ending every file
# Set charset as utf-8
[*]
end_of_line = lf
insert_final_newline = true
charset = utf-8
trim_trailing_whitespace = true

# 4 space indentation
# Max line lenghth as specified in PEP8
[*.js]
indent_style = space
indent_size = 4
max_line_length = 80

[*.py]
indent_style = space
indent_size = 4
max_line_length = 79
